<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yt.BLEClient">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EnanoBLE"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yt.BLEClient.Authentification"></activity>
        <activity android:name="com.yt.BLEClient.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yt.BLEClient.DeviceScanActivity" />
        <activity android:name="com.yt.BLEClient.DeviceControlActivity" />

        <service
            android:name="com.yt.BLEClient.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>